* {
      margin: 0;
      padding: 0;
    }
    
    html {
      height: 100%;
      width: 100%;
    }
    #myCanvas {
        height: 100%;
        width: 100%;
      }
      body{
        background-color:#A6A6A8 ;
      }
#ul1 {
  display: flex;
  align-items: center;
  background-color: #272635;
  border-radius: 2px;
  position: relative;
}
.li {
  margin: 19px;
  color: white;
  font-size: 27px;
  list-style-type: none;
  font-family: sans-serif;
}
a{
    text-decoration: none;
 float: left;
 width: 33%;
 padding-left: 84px;

}

